<!DOCTYPE html>

<head>
  <title>Sophia Science</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/sophia_style.css"/>
  <link rel="shortcut icon" href="/sophia.png" type="image/x-icon"/>
  
</head>

<body>
    
  <!-- <img src="sophia.png" alt="Sophia Science" style="width:300px;" > -->
  <div class='styledimg' alt="Sophia Science"></div>
  <label class="switch">
    <input type="checkbox">
    <span id="switch" class="slider" onclick="toggleTheme()"></span>
  </label>
  
  
  <div class="open_navbar">
    <span id="buton_meniu" onclick="menu()">&#9776;</span>
    </div>
  <div class="topnav" id="myNav">
  <ul>
    <li><a href="sophia.html">Acasă</a></li>
    <li><a class="active" href="about.html">Despre noi</a></li>
    <li class="dropdown">
      <a href="contest.html">Concursuri</a>
      <div class="dropdown-content">
        <a href="contest.html">WRO</a>
        <a href="contest.html">FLL</a>
        <a href="contest.html">FLL Junior</a>
        <a href="contest.html">FTC</a>
      </div>
    </li>
    <li><a href="galery.html">Galerie</a></li>
  </ul>  
  <ul class="contact">
    <li ><a href="inscrieri.html">Înscriere</a></li>
    <li ><a href="contact.html">Contact</a></li>
    
  </ul>
 
  </div>
  <div id="continut">
    
    <div class="despre" >
       <div>
      <div class="galery">
        <button id="button_text" class="button_galery" onclick=" typeWriter()">Despre</button>
      </div>
        <div id='despre'style="visibility:hidden;">
        <div id='paragraf1' class="descriere">
            <!-- <p>Clubul Sophia Science oferă într-un spațiu experimental, programe de robotică educațională pentru copii și tineri.</p>
            <p>Robotica educațională este un instrument de învățare și dezvoltare a abilităților prin stimularea creativității în rezolvarea problemelor comunității.</p> 
            <p>Copiii și tinerii învață să construiască și să programeze roboți care rezolvă diverse sarcini.</p> 
            <p>În cadrul cursurilor, aceștia sunt ghidați cu ajutorul instrucțiunilor să testeze și să verifice soluțiile găsite.</p>
            <p>De asemenea, pregătim echipe pentru participarea la competiții naționale și internaționale.</p>
            <p>Clubul Sophia Science a accesat în anul 2019 fonduri europene pentru dezvoltare prin proiectul
              FISH ROBO FRIEND - Robotica Educațională Soluția Viitorului pentru Zonele Umede.</p> -->
        </div>
        <div class="galery">
          <button id="button_text2" class="button_galery" onclick=" grupeWriter()">Grupe</button>
        </div>
           <div id='paragraf2' class="descriere">
            
            <!-- <p id='paragraf21' > Grupe de vârstă:</p>
            <p id='paragraf22' >•6-9 ani - Lego WeDo/WeDo2.0</p>
            <p id='paragraf23' >•10-14 ani - Lego Mindstorms</p>
            <p id='paragraf24' >•15-18 ani - Lego Mindstorms + platforme auxiliare</p> -->
            </div>
        </div>
      </div>
        <div class="grupe" style="max-width: 70%"><img src="/about1.jpg" alt="Lego" style="max-width: 70%; height: auto;"></div>
  </div>

 </div>
 <script src='/index_contact.js'></script>
</body>
<%- include("footer.ejs") %>
</html>