<footer>
  <div class="galery" id='timer'>
    Time Elapsed: 0
  </div>
  <div class="galery" id='word2'>
    <button onclick=" wordCounter()">Word Count</button>
  </div>
  <div class="galery" id='word'>
    Word Counter: 
  </div>
<br>
<br>
    <div class="info_contact">Copyright  &copy; 2020</div>
  </footer>