<div class='styledimg' alt="Sophia Science"></div>

<label class="switch">
  <input type="checkbox">
  <span id="switch" class="slider" onclick="toggleTheme()"></span>
</label>
<div class="open_navbar">
    <span id="buton_meniu" onclick="menu()">&#9776;</span>
    </div>
    <div class="topnav" id="myNav">  
    <ul >
      <li><a href="/sophia.html">Acasă</a></li>
      <li><a href="/about.html">Despre noi</a></li>
      <li class="dropdown">
        <a href="/contest.html">Concursuri</a>
        <div class="dropdown-content">
          <a href="/contest.html">WRO</a>
          <a href="/contest.html">FLL</a>
          <a href="/contest.html">FLL Junior</a>
          <a href="/contest.html">FTC</a>
        </div>
      </li>
      <li><a href="/galery.html">Galerie</a></li>
    </ul>  
    <ul class="contact">
      <li ><a class="active2" href="/inscrieri.html">Înscriere</a></li>
      <li ><a  href="/contact.html">Contact</a></li>
    </ul>
    
    </div>