<div class="inscriere">
    <ul class="inscriere">
      <li class="dropdown"><a href="/add_student">Înscriere Elev</a></li>
      <li class="dropdown"><a href="/list_studenti">Lista de Elevi Înscriși</a></li>
      <li class="dropdown"><a href="/login">Date</a></li>
  </ul>
  </div>